PORT=3000
CORS_ORIGIN=http://localhost:5173
DATABASE_URL=postgresql://postgres:password@localhost:5432/tudb
JWT_SECRET=secret_for_development
NODE_ENV=development
ALLOWED_ORIGINS=https://tu-dominio.com,https://www.otro-dominio.com
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
S3_BUCKET=bucket